---
name: Frogbot Repo Full Scan

on:
  schedule:
    - cron: "34 7 * * *" # 02:34 America/Montreal during EST (UTC-5)
  workflow_dispatch:

permissions: {}

env:
  JF_URL: "https://artifacts-artefacts.devops.cloud-nuage.canada.ca"
  JF_PROJECT: "ssc-fsdh"

jobs:
  full-scan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "main"
          fetch-depth: 0
          persist-credentials: false

      - name: Setup JFrog CLI with OIDC
        uses: jfrog/setup-jfrog-cli@279b1f629f43dd5bc658d8361ac4802a7ef8d2d5 #v4.9.1
        id: setup-jfrog-cli
        env:
          JFROG_CLI_AVOID_NEW_VERSION_WARNING: "true"
        with:
          oidc-provider-name: github-oidc
          version: 2.91.0

      - name: Run Frogbot
        uses: jfrog/frogbot@f33c6d196969c81ff143ec54254563f0f8258b8c #v2.29.4
        env:
          JF_ACCESS_TOKEN: "${{ steps.setup-jfrog-cli.outputs.oidc-token }}"
          JF_GIT_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          JF_INCLUDE_ALL_VULNERABILITIES: "true"
          JF_FAIL: "true"
          JF_PULL_REQUEST_TITLE_TEMPLATE: "chore: Upgrade ${IMPACTED_PACKAGE} to ${FIX_VERSION}"
