---
name: Frogbot Pull Request Review

on:
  pull_request:
    branches: [main]

permissions: {}

env:
  JF_URL: "https://artifacts-artefacts.devops.cloud-nuage.canada.ca"
  JF_PROJECT: "ssc-fsdh"

jobs:
  scan-pull-request:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          ref: "${{ github.event.pull_request.head.sha }}"
          persist-credentials: false

      - name: Setup JFrog CLI with OIDC
        uses: jfrog/setup-jfrog-cli@279b1f629f43dd5bc658d8361ac4802a7ef8d2d5 #v4.9.1
        id: setup-jfrog-cli
        env:
          JFROG_CLI_AVOID_NEW_VERSION_WARNING: "true"
        with:
          oidc-provider-name: github-oidc
          version: 2.91.0

      - name: Run Frogbot
        uses: jfrog/frogbot@f33c6d196969c81ff143ec54254563f0f8258b8c #v2.29.4
        env:
          JF_ACCESS_TOKEN: "${{ steps.setup-jfrog-cli.outputs.oidc-token }}"
          JF_GIT_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          JF_INCLUDE_ALL_VULNERABILITIES: "true"
          JF_GIT_USE_GITHUB_ENVIRONMENT: "false"
          JF_FAIL: "true"