---
name: Publish Containers

on:
  push:
    branches:
      - main
    paths:
      - "managed-containers/**"

permissions: read-all

jobs:
  build-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      security-events: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Get list of changed files
        id: get_changed_files
        run: |
          # Get the list of changed files between the base and head of the pull request
          changed_files=$(git diff --name-only "${{ github.event.before }}" "${{ github.sha }}")
          # Convert the list of changed files to a JSON array
          changed_files_json=$(echo "$changed_files" | jq -R -s -c 'split("\n")[:-1] | map(select(length > 0))')

          echo "Changed files: $changed_files"

          # Set the JSON string as an output for use in later steps
          echo "changed_files=$changed_files_json" >> "$GITHUB_OUTPUT"

      - name: Generate list of Dockerfiles to build
        id: generate_dockerfile_list
        run: |
          # Get the JSON array of changed files from the previous step
          changed_files_json='${STEPS_GET_CHANGED_FILES_OUTPUTS_CHANGED_FILES}'

          # Convert JSON array to a bash array
          mapfile -t changed_files_list < <(echo "$changed_files_json" | jq -r '.[]')

          dockerfiles_to_build=()
          for file in "${changed_files_list[@]}"; do
            # Check if the changed file is a Dockerfile
            if [[ $file == *Dockerfile ]]; then
              dockerfiles_to_build+=("$file")
            # Check if the directory of the changed file contains a Dockerfile
            elif [[ -f $(dirname "$file")/Dockerfile ]]; then
              dockerfiles_to_build+=("$(dirname "$file")/Dockerfile")
            fi

            # Check if the file is in managed-containers and add the top-level Dockerfile if it exists
            if [[ $file == managed-containers/*/* ]]; then
              # Extract the top-level directory (e.g., managed-containers/component)
              top_level_dir=$(echo "$file" | cut -d'/' -f1-2)
              if [[ -f "$top_level_dir/Dockerfile" ]]; then
                dockerfiles_to_build+=("$top_level_dir/Dockerfile")
              fi
            fi
          done

          # Remove duplicate Dockerfiles from the list
          mapfile -t unique_dockerfiles_to_build < <(printf "%s\n" "${dockerfiles_to_build[@]}" | sort -u)

          # Exit if no Dockerfiles are found
          if [ ${#unique_dockerfiles_to_build[@]} -eq 0 ]; then
            echo "No Dockerfiles found to build. Exiting..."
            exit 0
          fi

          echo "Unique Dockerfiles to build: ${unique_dockerfiles_to_build[*]}"

          # Convert the list of unique Dockerfiles to a JSON array for output
          unique_dockerfiles_to_build_json=$(printf '%s\n' "${unique_dockerfiles_to_build[@]}" | jq -R -s -c 'split("\n") | map(select(length > 0))')

          # Set the JSON string as an output for use in later steps
          echo "dockerfiles_to_build=$unique_dockerfiles_to_build_json" >> "$GITHUB_OUTPUT"
        env:
          STEPS_GET_CHANGED_FILES_OUTPUTS_CHANGED_FILES: ${{ steps.get_changed_files.outputs.changed_files }}

      - name: Set up Trivy
        uses: aquasecurity/setup-trivy@ff1b8b060f23b650436d419b5e13f67f5d4c3087 # v0.2.2
        # Set up Trivy, a tool for scanning Docker images for vulnerabilities

      - name: Set up Docker Build Environment
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        # Set up Docker Buildx, which allows building multi-platform Docker images

      - name: Setup JFrog CLI (OIDC)
        id: setup-jfrog-cli
        uses: jfrog/setup-jfrog-cli@279b1f629f43dd5bc658d8361ac4802a7ef8d2d5 #v4.9.1
        env:
          JF_URL: https://artifacts-artefacts.devops.cloud-nuage.canada.ca
        with:
          oidc-provider-name: github-oidc

      - name: Secure GC Artifacts login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 #v3.7.0
        with:
          registry: https://artifacts-artefacts.devops.cloud-nuage.canada.ca
          username: ${{ steps.setup-jfrog-cli.outputs.oidc-user }}
          password: ${{ steps.setup-jfrog-cli.outputs.oidc-token }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 #v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Scan Docker Images
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STEPS_GENERATE_DOCKERFILE_LIST_OUTPUTS_DOCKERFILES_TO_BUILD: ${{ steps.generate_dockerfile_list.outputs.dockerfiles_to_build }}
        run: |
          # Get the JSON array of Dockerfiles to build from the previous step
          dockerfiles_json='${STEPS_GENERATE_DOCKERFILE_LIST_OUTPUTS_DOCKERFILES_TO_BUILD}'
          # Convert JSON array to a bash array
          mapfile -t dockerfiles_list < <(echo "$dockerfiles_json" | jq -r '.[]')

          # Create directory to store Trivy scan results
          mkdir -p trivy-results

          echo "Dockerfile files to process: ${dockerfiles_list[*]}"

          REVISION="${GITHUB_SHA}"
          CREATED="$(date -u +%Y-%m-%dT%H:%M:%SZ)"
          REF_NAME="${GITHUB_REF_NAME}"
          SOURCE_URL="https://github.com/${{ github.repository }}"

          # Iterate through each Dockerfile path
          for dockerfile in "${dockerfiles_list[@]}"; do
            # Extract the directory containing the Dockerfile
            dockerfile_path="$(dirname "$dockerfile")"

            # Get the base name of the directory
            package_name="$(basename "$dockerfile_path")"

            # Convert the base name to lowercase to define the package name
            package_name="$(echo "$package_name" | tr '[:upper:]' '[:lower:]')"
            echo "Package name: $package_name"

            # Define the image name with the :latest tag
            image_name="$package_name:latest"
            repo_path="ghcr.io/${{ github.repository_owner }}/$image_name"

            echo "Building Docker image: $image_name from $dockerfile"

            # Build the Docker image using Docker Buildx with --no-cache to ensure fresh layers
            docker buildx build --load --no-cache \
              --platform=linux/amd64 \
              --label "org.opencontainers.image.revision=${REVISION}" \
              --label "org.opencontainers.image.created=${CREATED}" \
              --label "org.opencontainers.image.ref.name=${REF_NAME}" \
              --label "org.opencontainers.image.source=${SOURCE_URL}" \
              -t "$repo_path" \
              -f "$dockerfile" "$dockerfile_path"

            # Push the Docker image to the GitHub Container Registry
            docker push "$repo_path"

            echo "Scanning $image_name..."

            # Run Trivy scan on the built image and save results in SARIF format
            trivy image --severity CRITICAL,HIGH --format sarif --output "trivy-results/${package_name}.sarif" "$repo_path"

          done

      # Step 5: Upload SARIF file to GitHub Code Scanning
      - name: Upload SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          sarif_file: trivy-results/
