---
name: Trivy Code Scanning

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

permissions: read-all

jobs:
  trivy-scan:
    name: Trivy Vulnerability Scan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run Trivy Scan Action
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
        with:
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          scan-type: "fs"
          format: "sarif"
          output: "trivy-results.sarif"
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true

      - name: Upload Trivy Report to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        with:
          sarif_file: trivy-results.sarif
